.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  margin-left: 1rem;
  margin-top: 4rem;
  padding: 0.25rem;
  background-color: #30303a70;
  border-radius: 0.5rem;
  gap: 0.25rem;
  z-index: 0;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  font-size: 14px;
}

.icon {
  font-size: 24px;
}
