.FrictionBar {
  display: flex;
  flex-direction: row;
  margin-right: 112px;
}

.row {
  display: flex;
  height: 80px;
  padding: 8px 8px;
  background-color: #30303a70; // Last two digits are the alpha value
  border-radius: 0.5rem;
}

.icon {
  font-size: 28px;
  margin: 2px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 100px;
}
