@import '../../../../../styles/all';

$icon-size: 18px;

.entry {
  color: #ffffff40;
  margin-top: 0.5em;
  border-radius: 0 5px 5px 0;

  &.active {
    // background: $ui-background-hover;
    border-left: 6px solid $blue;
    color: #ffffff;
  }
}

.buttonTitleContainer {
  display: flex;
  align-items: center;
  background-color: #30303a70;
  border-radius: 3px;

  // border: green;
  // border-style: solid;
}

.buttonIcon {
  width: 2em;
  height: 2em;
  transition: fill 0.3s;
  fill: currentColor;
}

.titleContainer {
  font-size: 1.5em;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.flyToButton {
  padding: 0.5em;
  margin: 1em 1em 0.5em 0em;
  background-color: #30303a70;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.focusButton {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
