.nodePopover {
  min-width: 500px;
  width: 100%;
}

.contentContainer {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: visible;
}

.copyButton {
    padding-left:20px;
}

.description_container {
    padding:10px;
    size: 20px;
}
