{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false,
    "babelOptions": {
    "presets": [
        "@babel/preset-react"
      ]
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "linebreak-style": "off", // We should not bother with this since git converts line endings anyways
    "no-plusplus": "off", // overly strict - maybe only allow in for loops though?
    "react/forbid-prop-types": "off", // Forbids "any" as prop type. Sometimes you need "any"
    "react/jsx-props-no-spreading": "off", // Although it is less safe, i think it gives developers more flexibility
    "comma-dangle": ["error", "never"], // Just nicer
    "quotes": [
      "error",
      "single", // enfores 'quotes'
      {
        "avoidEscape": true, // allows "word 'word' word"
        "allowTemplateLiterals": true // allows `word`
      }
    ], // For consistency
    "arrow-parens": ["error", "always"], // For consistency and to catch accidental >= operators  
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-func-assign": "off", // Is used all the time to connect dispatch and state to props
    "operator-linebreak": ["error", "after"], // Prettier to have the operator after the line
    "sort-imports": ["error", {
        "ignoreCase": true,
        "ignoreDeclarationSort": false, // Sort imports by declared name alphabetically
        "ignoreMemberSort": false, // Sort imports from same module by name alphabetically
        "allowSeparatedGroups": true
    }],
    "indent": ["error", 2], // Indentation
    "eol-last": ["error", "always"], // End of file
    "key-spacing": { 
      "mode": "strict",
      "beforeColon": false, // Make it pretty :)
      "afterColon": true // Make it pretty :)
    }
  }
}
