{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "env": {
    "browser": true
  },
  "plugins": ["react", "simple-import-sort", "@typescript-eslint"],
  "rules": {
    "linebreak-style": "off", // We should not bother with this since git converts line endings anyways
    "no-plusplus": "off", // overly strict - maybe only allow in for loops though?
    "react/forbid-prop-types": "off", // Forbids "any" as prop type. Sometimes you need "any"
    "react/jsx-props-no-spreading": "off", // Although it is less safe, i think it gives developers more flexibility
    "comma-dangle": ["error", "never"], // Just nicer
    "react/jsx-no-bind": "off",
    "quotes": [
      "error",
      "single", // enfores 'quotes'
      {
        "avoidEscape": true, // allows "word 'word' word"
        "allowTemplateLiterals": true // allows `word`
      }
    ], // For consistency
    "arrow-parens": ["error", "always"], // For consistency and to catch accidental >= operators
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-func-assign": "off", // Is used all the time to connect dispatch and state to props
    "operator-linebreak": ["error", "after"], // Prettier to have the operator after the line
    "react/prop-types": "warn",
    // increase the severity of rules so they are auto-fixable
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }], // Indentation
    "eol-last": ["error", "always"], // End of file
    "key-spacing": [
      1,
      {
        "mode": "strict",
        "beforeColon": false, // Make it pretty :)
        "afterColon": true // Make it pretty :)
      }
    ],
    "react/destructuring-assignment": "off",
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "no-continue": "off",
    "jsx-a11y/click-events-have-key-events": "warn" // This should be considered when rewriting for disabilities
  },
  "ignorePatterns": [
    "*.story.jsx",
    "src/components/BottomBar/TfEditor/*",
    "src/components/common/Graph/*"
  ],
  "overrides": [
    // override "simple-import-sort" config
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "extends": ["plugin:@typescript-eslint/recommended"],
      "plugins": ["@typescript-eslint"],
      "rules": {
        "simple-import-sort/imports": [
          "error",
          {
            "groups": [
              // Packages `react` related packages come first.
              ["^react", "^@?\\w"],
              // Internal packages.
              ["^(@|components)(/.*|$)"],
              // Side effect imports.
              ["^\\u0000"],
              // Parent imports. Put `..` last.
              ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
              // Other relative imports. Put same-folder imports and `.` last.
              ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
              // Style imports.
              ["^.+\\.?(css)$"]
            ]
          }
        ]
      }
    }
  ]
}
