@import '../../../../styles/all';

.deltaTimeStepLabel {
  display: block;
  pointer-events: none;
  color: $text-color-blur;
  font-size: $input-label-size * 1.5;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  * + * {
    margin-left: $popover-corner-radius;
  }
}

.button {
  background: #30303a70;
  padding: 1rem;
  width: 100%;
  font-family: $font-family;
  text-align: center;
  border-radius: 3px;
}

.title {
  font-weight: 600;
  font-size: $input-label-size * 1.2;
  letter-spacing: 0.1em;
  padding: 0.5rem 0.3rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
}
