.NavigationBar {
  position: fixed;
  bottom: 16px;
  left: 16px;
  padding: 8px 16px;
  background-color: black;
  display: flex;
  flex-direction: flex-row;
  gap: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  width: fit-content;
  max-width: 50vw;
  height: 80px;
}

.icon {
  font-size: 18px;
  margin: 2px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
}

.row {
  display: flex;
  gap: 2rem;
}
