@import "../../../styles/all";

.entry {
  padding: $popover-horizontal-padding;
  list-style: none;
  &:hover {
    background: $ui-background-hover;
  }

  &.active {
    background: $ui-background-hover;
    border-left: 4px solid $blue;
  }
}

