@import "../../../styles/all";

$icon-size: 18px;

.entry {
  padding: $popover-horizontal-padding;
  list-style: none;
  &:hover {
    background: $ui-background-hover;
  }

  &.active {
    background: $ui-background-hover;
    border-left: 4px solid $blue;
  }

  position: relative;
}

.buttonIcon {
  font-size: $icon-size;
}

.buttonContainer {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 3px;
  padding-bottom: 3px;
  height: 100%;

  > * {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.1em;
    > button {
      height: 100%;
    }
  }
}

.menuTopLabel {
  margin-left: 3px;
  color: $text-color-blur;
}
