@import "../../../styles/all";

$icon-size: 21px;

.entry {
  padding: $popover-horizontal-padding;
  list-style: none;
  &:hover {
    background: $ui-background-hover;
  }

  &.active {
    background: $ui-background-hover;
    border-left: 4px solid $blue;
  }

  position: relative;
}

.verticallyCentered {
  margin-top: auto;
  margin-bottom: auto;
}

.buttonIcon {
  @extend .verticallyCentered;
  font-size: $icon-size;
}

.buttonContainer {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  height: 100%;

  > * {
    padding: 0.2em 0.3em 0.1em;
    display: inline-block;
  }
}

.flyToButton {
  padding: 0.5em 0.7em 0.5em;
  margin: 2px;
}

.menuTopLabel {
  margin-left: 3px;
  color: $text-color-blur;
}
