@import "../../../styles/all";

$icon-size: 32px;
$small-icon-size: 16px;

.Icon {
  font-size: $icon-size;
  margin-right: ($base-padding / 2);
}

.ButtonIcon {
  font-size: $small-icon-size;
}

.NavigationButton {
  padding: 10px;
}

.iconImage {
  animation: $appear-animation;
  height: $icon-size - 8px;
  margin-right: ($base-padding / 2);
}

.list :global(.scroll-content) {
  height: 100%;
  margin-top: 1px;
  max-height: 200px;
}

.Grid {
    display: flex;
}

.originPicker.disabledBySessionPlayback {
  background-color: darken(rgba($blue, .7), 20%);
}