@import "../../../styles/all";

$arrow-size: 4px;

.entry {
  padding: $popover-horizontal-padding;
  height: 120px;
  width: 110px;
  display: inline-grid;
  align-content: flex-start;
  &:hover {
    background: $ui-background-hover;
  }
  &.active {
    background: $ui-background-hover;
    border-left-width: 4px solid;
    border-left-style: solid;
  }

}

.imageHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 1px;

}

.imageTitle {
  width: 80px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

.image {
  width: 96px;
  height: 50px;
  border-radius: 2px;
  display:flex;
}




