@import "../../../styles/all";

.entry {
  padding: $popover-horizontal-padding;
  height: 130px;
  width: 110px;
  display: inline-grid;
  align-content: flex-start;
  &:hover {
    background: $ui-background-hover;
  }
  &.active {
    background: $ui-background-hover;
    border-left: 4px solid $blue;
  }

}

.imageHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
}

.imageTitle {
  padding-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

.image {
  width: 96px;
  height: 50px;
  border-radius: 2px;
  display:flex;
  
}

