@import '../../../styles/all.scss';

.container div:focus {
  outline: none;
}

.window {
  background: none;
  position: absolute;
  max-width: 100vw;
  max-height: 60vh;
  height: auto;
  width: $navigation-bar-width;
  bottom: 96px;
  left: 16px;
}

.content {
  height: 100%;
  transform: translateY(16px);
  transition-duration: 300ms;
}

.temp {
  transition: all 300ms ease-in;
  height: 100%;
  border: none;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1c1b1e90;
  opacity: 85%;
  outline: none;
  z-index: 20;
}

.temp div:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #43434390;
}

.handle {
  background-color: #43434390;
  width: 80px;
  height: 8px;
  border-radius: 2rem;
  margin: auto;
  margin-top: 1rem;
}

.btn {
  padding: 0.25rem;
  border: none;
  background: none;
  left: 1.5rem;
  color: white;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.title {
  font-weight: 600;
  font-size: large;
}

.body {
  padding: 1.5rem 0.5rem;
  max-height: 50vh;
  overflow-y: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
}

.innerFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
