@import "../../../../styles/all";

$height: $font-size + $base-padding * 1.5;

.wrapper {
  &:hover {
    background: $ui-background-hover;
  }

  &:hover .checkbox {
    color: $blue;
  }

  &.wide {
    min-height: $height;
    padding: 7px $input-padding-horizontal;

    .checkbox {
      position: relative;
      top: 2px;
      margin-right: 2px;
    }
  }

  &.left {
    flex-direction: row;
  }
}
