@import '../../../../styles/all';

.buttonIcon {
  font-size: 1em;
}

.actionButton {
  padding-top: 10px !important;
  padding-bottom: 12px !important;
  width: 100%;
  margin-bottom: 5px;
  margin: 2px;
  overflow-wrap: break-word;
  border-radius: 3px;
  background-color: #30303a70 !important;
}

.iconRow {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding-bottom: 2px !important;
}

.localText {
  color: $ui-highlight-secondary;
  font-size: smaller;
}
