@import "../../../styles/all";
@import "../LoadingString/LoadingString";
 ;

.block {
  @extend .loadingBackground;
  content: ' ';
  height: $font-size * 1.6;
  width: 100%;
}

.block + .block {
<<<<<<< HEAD
  margin-top: calc($base-padding / 2);
=======
  margin-top: calc($base-padding/ 2);
>>>>>>> a53c5c1271baaa587ebf9404e44fb86e5a69625a
}
