@import '../../../../../styles/all.scss';

.filterList {
  height: 100%;
  width: 100%;

  :global(.scroll-content) {
    height: unquote('calc(100% - #{$input-total-height})');
  }
}

.favoritesButton {
  background-color: $text-color-blur;
  color: $ui-background-solid;
  cursor: pointer;
  font-size: 0.8em;
  transition: opacity $animation-duration $animation-easing;
  padding: 3px 6px;
  border-radius: 3px;
  margin: auto 0px;
  pointer-events: initial;

  &:focus,
  &:hover {
    background-color: $text-color-focus;
  }
}

.moreButton {
  background: #fff;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  color: #000;
  width: fit-content;
  margin: 1.5rem;
  font-size: medium;
}
