@import "../../../styles/all";


.climatepanel{
  width: 600em;
}

.Grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  &:before,
    &:after {
      display: none;
    }
}


.menuButton {
  width: 130px;
  margin-bottom: 2px;
  margin: 2px;
  z-index: 1;
  background-color: #1f1f1f;
}

.actionButton {
  width: 130px; // 105 is good
  //margin-bottom: 5px;
  margin: 2px;
  background-color: #2b2b2b;
  //position: absolute;
  hover: black;
  position: absolute;
  opacity: 0;
}


.actionButton2 {
  width: 197px;
  margin-bottom: 5px;
  margin: 2px;
  background-color: #2b2b2b;
  position: absolute;
  opacity: 0;
}

.iconButton{
  padding: 7px 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}


.Row {
    display: table;
    table-layout: fixed; /*Optional*/
    border-spacing: 14px; /*Optional*/
}
