// color definitions
$dark-grey: #181818;
$darker-grey: #0c0c0c;
$yellow: #ebd972;
$blue: #3DBDEE;
$red: #FF4136;
$orange: #FF851B;

// color usage
$ui-background-toplevel: $darker-grey;
$ui-background-solid: $dark-grey;
$ui-background: rgba($ui-background-solid, 0.9);
$ui-background-hover: rgba(white, 0.08);
$ui-background-selected: rgba(white, 0.05);
$ui-background-active: rgba(white, 0.05);
$ui-background-slider-input: rgba(white, 0.1);

$ui-danger: $red;
$ui-warning: $orange;
$ui-highlight-secondary: $blue;

$ui-divider: darken($ui-background, 1%);

$text-color-focus: white;
$text-color-blur: darken($text-color-focus, 40%);

$input-text-color-focus: $text-color-focus;
$input-text-color-blur: $text-color-blur;
