@import "../../../styles/all";

.DotsContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
    padding: .2% 0;
    background: $ui-background;
    opacity: 0.7;
  
    .Dot {
      background: grey;
      display: inline-block;
      padding: .5%;
      margin-right: .7%;
      cursor: pointer;
      border-radius: 50%;
    }
    .active {
      outline: none;
      background: #fff;
      display: inline-block;
      padding: .55%;
      margin-right: .7%;
      cursor: pointer;
      border-radius: 50%;
    }
    :focus {
      outline: none;
    }
}
