@import "../../styles/all";

.alaska, .antarctica, .greenland {
  position: absolute;

  z-index: 999;
  color: #fff;
  height: 35px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $ui-background;
  border-radius: 10px;
  cursor: pointer;
  transition: transform ease-in .1s;

  &:hover {
    transition: transform ease-in .1s;
     background:darken($ui-background,8%);
  }

}
.alaska{
 left: 20px;
 top:250px;
}
.antarctica {
  left: 20px;
  top:300px;
}

.greenland {
  left: 20px;
  top: 350px;

}

$icon-size: 20px;

.Icon {
  font-size: $icon-size;
  position: absolute;;
  right: 10px;
}
