@import "../../styles/all";

.generalBSmall{
  position: absolute;

  //z-index: 999;
  color: #fff;
  height: 35px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $ui-background;
  border-radius: 12px;
  cursor: pointer;
  transition: transform ease-in .1s;

  &:hover {
    transition: transform ease-in .1s;
     background:darken($ui-background,8%);
  }
}

.generalB{
  position: absolute;

  //z-index: 999;
  color: #fff;
  height: 35px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $ui-background;
  border-radius: 12px;
  cursor: pointer;
  transition: transform ease-in .1s;

  &:hover {
    transition: transform ease-in .1s;
     background:darken($ui-background,8%);
  }
}

.next{
  position: absolute;

  color: #fff;
  height: 35px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $ui-background;
  border-radius: 12px;
  cursor: pointer;
  transition: transform ease-in .1s;

  &:hover {
    transition: transform ease-in .1s;
     background:darken($ui-background,8%);
  }


}


$icon-size: 20px;

.Icon {
  font-size: $icon-size;
  position: absolute;;
  right: 10px;
}
