@import "../../styles/all";
.app {
  color: white;
  display: flex;
  font-family: $font-family;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
.Grid__Left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.Grid__Right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

//Doesn't do anything, remove?
.HomeButton{
  //top: 100px;
  display: flex;
  //height: 10%;
  background: $ui-background;
  //opacity: 20%;
  color: white;
  border-right: 3px solid $ui-background-hover;
  z-index: 99;
  width: 380px;
  border-radius: 20px;
}
.StoryPosistion{
  position: relative;
  width: 200%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
//  background-color: #D3D3D3;
}
.TellStory{
  font-family: $font-family;
  height: 20%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 999;
  color: lightgrey;
  font-size: 16px;
  white-space: pre-line;
}

/*.StoryPosistion{
  position: absolute;
  width: calc(-5vw + 40% + 10px );
  margin: 0% 5%;
  height: 100%;
  top: calc(20vw - 10% - 50px );
//  background-color: #D3D3D3;
}
.TellStory{
  font-family: $font-family;
  margin: 0% 0% 50% 0%;
  color: lightgrey;
  font-size: 16px;
}
*/
.NextStepButton{
  //top: 80px;
  //display: flex;
  //position: absolute;
  //left: 50%;
  font-family: $font-family;
  height: 1%;
  width: 210%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 270%;
  left: -30%;
  display: flex;
}
.PrevStepButton{
//  top: 80px;
  //display: flex;
  //position: absolute;
  //left: 5%;
  //bottom: 10px;

  font-family: $font-family;
  height: 1%;
  width: 210%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 270%;
  left: -90%;
  display: flex;

}
$icon-size: 20px;
.Icon {
  font-size: $icon-size;
  position: absolute;;
  right: 10px;
}
