@import "../../styles/all";
.app {
  color: white;
  display: flex;
  font-family: $climate-font;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
.Grid__Left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.Grid__Right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

//Doesn't do anything, remove?
.HomeButton{
  display: flex;
  background: $ui-background;
  color: white;
  border-right: 3px solid $ui-background-hover;
  z-index: 99;
  width: 380px;
  border-radius: 20px;
}
.StoryPosistion{
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  left: -80px
//  background-color: #D3D3D3;
}

.left{

  left: 100px

}

.TellStory{
  font-family: $font-family;
  height: 20%;
  width: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 999;
  color: lightgrey;
  font-size: 16px;
  white-space: pre-line;
}

.NextStepButton{
  font-family: $font-family;
  height: 1%;
  width: 210%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 270%;
  left: -23%;
  display: flex;
}

.PrevStepButton{
  font-family: $font-family;
  height: 1%;
  width: 210%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 270%;
  left: -87%;
  display: flex;

}
$icon-size: 30px;
.Icon {
  font-size: $icon-size;
  color: white;
  vertical-align: bottom;
}

.buttonTransparent{
  background-color: transparent;
  border: none;
  cursor: pointer;
  vertical-align: bottom;
}

  .frameBorder{
  background-color: rgba(0,0,0,0.6);
  border-radius: 16px;
  padding: 20px;
  left:10px;

}
