@import "../../styles/all";

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: $font-family;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.Header {
    color: blue;
}
.pre {
    display: block;
    padding: 10px 30px;
    margin: 0;
    overflow: scroll;
}

.StoryPosistion{
  position: relative;
  width: 200%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
//  background-color: #d3d3d3;
}
.TellStory{
  font-family: $font-family;
  height: 20%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 999;
  color: lightgrey;
  font-size: 16px;
  white-space: pre-line;
}

.p{

  font-size: 10px;
}

.flex {
//  width: 50%;
//  vertical-align: middle;
}

.break{
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  align-content: center;
  display: flex;
  //top: 100%;
  //width: calc(100% - 1em);
  width: 700px;
  //top: calc(100% - 62px);
  //height: calc(100px - 1px);
}

.Grid {
    display: flex;
  //  flex-wrap: wrap;
  //  justify-content: flex-start;
  &:before,
    &:after {
      display: none;
    }
}
.buttonIconGlacier {
    font-size: 0em;
}
.buttonIcon {
    font-size: 2em;
}
.bottomBarIcon {
    font-size: 2em;
}

/*:root {
  --blue: #1e90ff;
  --white: #ffffff;
}*/

.menuButton {
  width: 140px;
  margin-bottom: 5px;
  margin: 2px;
  z-index: 1;
  background-color: #1f1f1f;
}
.actionButton {
  width: 92px;
  margin-bottom: 5px;
  margin: 2px;
  background-color: #2b2b2b;
  //position: absolute;
  hover: black;
  position: absolute;
  opacity: 0;
}
.actionButtonGlacier {
  width: 0px;
  margin-bottom: 5px;
  margin: 2px;
  position: absolute;
  //opacity: 0;
  background-color: #1f1f1f;
  //background-color: var(--blue);
  color: blue;
//  font-size: 0px;
}
#actionButtonGlacierID {
  width: 0px;
  margin-bottom: 5px;
  margin: 2px;
  position: absolute;
  hover: red;
  //opacity: 0;
  //background-color: var(--blue);
  color: pink;
  z-index: -1;
}
.actionButton2 {
  width: 140px;
  margin-bottom: 5px;
  margin: 2px;
  background-color: #2b2b2b;
  position: absolute;
  opacity: 0;
}
@import "../../styles/all";

.Slide {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.Container {
    position: relative;
    color: black;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.StoryInfo {
    height: 50%;
    width: 30%;
    min-height: 400px;
    min-width: 700px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: $ui-background;
    margin-left: 5vw;
}

.StoryName {
    position: absolute;
    padding: 5%;
    text-align: center;
    color: white;
    font-size: calc(7px + 2vw);
    min-width: 500px;
}

.Description {
    position: absolute;
    top: 25%;
    color: white;
    font-size: calc(7px + 0.4vw);
    text-align: left;
    margin: 0 auto;
    padding: 5%;
    min-width: 500px;
}
