@import "../../../styles/all";

.RightArrow, .LeftArrow {
  height: 5vw;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $ui-background;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;

  &:hover {
    transition: transform ease-in .1s;
    transform: scale(1.1)
  }
}

.RightArrow {
  position: absolute;
  top: 50%;
  right: 1vw;
  z-index: 999;
  color: #fff;
}

.LeftArrow {
  position: absolute;
  top: 50%;
  left: 1vw;
  z-index: 999;
  color: #fff;
}

$icon-size: 2vw;

.Icon {
  font-size: $icon-size;
}
