@import "../styles/all";

.app {
  color: white;
  display: flex;
  font-family: $font-family;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.Grid__Left,
.Grid__Right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.active {
  height: 100%;
}



.rightHandle {
  background: transparent;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin-left: 5px;

  &:hover, &:active{
    background: $ui-background-solid;
  }
}
