@import "../../../styles/all";

$font-size: 0.8rem;

.bar {
  fill: grey;
}

.barHighlighted {
  fill: $ui-highlight-secondary;
}

.barSelected {
  fill: $ui-highlight-secondary;
  
  stroke: white;
}

.bar:hover, .barHighlighted:hover {
  fill: lightgray;
}

.title {
  font-weight: 600;
  font-size: $font-size;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 15px 0;
}