@import "../../../styles/all";

$font-size: 0.8rem;

.bar {
  fill: grey;
  opacity: 0.9;
}

.barHighlighted {
  fill: $ui-highlight-secondary;
  opacity: 0.95;
}

.bar:hover, .barHighlighted:hover {
  fill: lightgray;
}

.arrow {
  stroke-width: 0;
  stroke: white;
  fill: white;
  &:hover {
    stroke-width: 2;
    stroke: white;
    fill: $ui-highlight-secondary;
  }
}