.Frame {
  position: relative;
  background-color: #43434340; // Last two digits are the alpha value
  border-color: #a2a2a240;
  border-style: solid;
  z-index: 30;
}

.RightFrame {
  position: absolute;
  right: 0;
  height: 100%;
  width: 80px;

  border-radius: 5rem 0 0 5rem;
}
