@import "../../../styles/all";

.toggle {
  padding: 3px;
  position: relative;

  &:hover {
    background: $ui-background-hover;
  }

  &:focus {
    outline: 0;
  }

  margin-left: -3px;
}

.title { }

.icon {
  position: relative;
  top: 2px;
  display: inline-block;
  color: $text-color-blur;
  cursor: default;  /* visually distinguish from dragging (OBS! Kind of ugly.
                       And does not actually prevent dragging from happening)*/
}
