@import "../../../styles/all";

.toggle {
  padding: 3px;
  position: relative;

  &:hover {
    background: $ui-background-hover;
  }

  &:focus {
    outline: 0;
  }

  margin-left: -3px;
}

.title {
  display: inline-block;
  font-weight: bold;
}

.icon {
  position: relative;
  top: 2px;
  display: inline-block;
  color: $text-color-blur;
}
