@import "../../styles/all";
@import "../common/Popover/Popover";

.window {
  background: $background;
  border-radius: $popover-corner-radius;
  box-shadow: $box-shadow;
  color: $text-color-focus;
  max-width: none;
  position: absolute;
  z-index: 10;

  &.small {
    max-width: 150px;
  }

  > :last-child {
    padding-bottom: $popover-corner-radius;
  }
  :global(.scroll-content) {
    max-height: auto;
  }
}

.content {
  height: 100%;
  width: auto;
  display: inline-flexbox;
  padding: 0px;
}

.window header {
  display: flex;
  justify-content: space-between;
}

.imageContent {
  width: 100%;
  height: 100%;
}

.rightHandle {
  background: transparent;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin-left: 5px;
  &:hover, &:active {
    background: $ui-background-solid;
  }
}

.bottomHandle {
  background: transparent;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  padding: 0;
  &:hover, &:active {
    background: $ui-background-solid;
  }
}
