@import "../../../../styles/all";
 ;

.clock {
  display: flex;
}

.textInput {
  padding: calc($base-padding/ 2) !important;
}

.element {
  display: flex;
  flex-direction: column;

  + .element {
    padding-left: calc($base-padding/ 2);
  }
}

.padding {
  width: $base-padding;
}
