@import "../../../../styles/all";

.clock {
  display: flex;
}

.textInput {
  padding: calc(0.4 * $base-padding) !important;
}

.element {
  display: flex;
  flex-direction: column;
  position: relative;

  + .element {
    padding-left: calc($base-padding / 2);
  }
}

.padding {
  width: $base-padding;
}