@import '../../../styles/all';

$background: $ui-background-solid;
$arrow-size: $popover-arrow-size;
$popover-corner-radius: $arrow-size / 2;

$padding-horizontal: 0.3rem;
$padding-vertical: 0.5rem;
$padding: $padding-horizontal $padding-vertical;


$font-size: 1rem;
$icon-size: 18px;
$header-height: 35px;
$border-width: 1px;

.popover {
  background: $background;
  border-radius: $popover-corner-radius;
  box-shadow: $box-shadow;
  color: $text-color-focus;
  max-width: none;    
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 10;
  width: auto;       
  bottom: calc(100% + #{$popover-arrow-size});

  &.small {
    max-width: 150px;
  }

   > :last-child {
    padding-bottom: $popover-corner-radius;
  }

}

.popover p, .content {
  height: calc(100% - 34px);
  margin-top: 2px;
  :global(.scroll-content) {
    height: calc(100% - 84px);
  } 
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    &:last-child:after {
      content: "";
      flex-basis: 120px;
    }
  }
}

.popover header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  padding: $padding;
  text-transform: uppercase;
}

.toggleTitle {
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  vertical-align: top;
}


.delimiter {
  margin: ($base-padding / 3) 0;
  border: 1px solid $ui-background-hover;
}

.row {
  display: flex;

  * + * {
    margin-left: $popover-corner-radius;
  }
}

.popover.arrow {
  &:after {
    border-color: transparent;
    border-style: solid;
    border-width: $arrow-size;
    content: " ";
    height: 0;
    margin-left: -$arrow-size;
    pointer-events: none;
    position: absolute;
    width: 0;
  }

  &.bottom:after {
    top: 100%;
    left: 50%;
    border-top-color: $background;
  }

  &.bottom.leftside:after {
    left: $arrow-size * 2;
  }

  &.bottom.rightside:after {
    left: auto;
    right: $arrow-size * 2;
  }
}

.rightHandle {
  background: transparent;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin-left: 5px;
  &:hover, &:active{
    background: $ui-background-solid;
  }
}

.leftHandle {
  background: transparent;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin-right: 5px;

  &:hover, &:active{
    background: $ui-background-solid;
  }
}

.bottomHandle {
  background: transparent;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  padding: 0;
  &:hover, &:active{
    background: $ui-background-solid;
  }
}

.topHandle {
  background: transparent;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  padding: 0;
  &:hover, &:active{
    background: $ui-background-solid;
  }
}







