.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  z-index: 1;
  padding: 16px;
}

.touchOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: pan-x pan-y;
}
