@import "../../styles/all";

$icon-size: 18px;

.seperator {
  padding-top:50px;
  padding-left:7px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.settings {
  background: none;
  color: $text-color-blur;
  padding-top: 5px;
  margin-left: auto;
  background: $ui-background;
  &:hover,
  &:focus {
    color: $text-color-focus;
  }
  i {
    font-size: $icon-size !important;
  }
}

.settingsFocus {
  color: $text-color-focus;
}

.toolTip {
  max-width: 200px;
  width: 200px;
  height: 50px;
  font-size: 12pt;
  margin-top: 7px;
  background: $ui-background;
  &::after {
    top: 10%;
  }
}
