@import "../../styles/all";

.active {
  height: 100%;
}

.shortcutContainer {
  width:100%;
  padding-bottom: 6px;
  padding-top: 6px;
  pointer-events: auto;
  position: relative;
}

.executeButton {
  right: 0;
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
}

.executeButton i {
  cursor: pointer;
}

.shortcutContainer:hover {
  background-color: $ui-background-hover;
}

.icon {
  font-size: 18px;
}

.content {
  padding-left: $sidebar-padding;
}

.keybinding {
  font-size: 0.8em;
  color: $text-color-blur;
}
