@import "../../../styles/all";


$tabs-header-height: 30px;
$tabs-background: rgba(37,37,37,1);
$tabs-background-content: rgba(55,55,55,1);
$tabs-margin-horizontal: 8px;

.tabContainer {
    background: $tabs-background;   
    position: absolute;
    width: calc(100% - #{$tabs-margin-horizontal});
    margin-left: $tabs-margin-horizontal / 2;
    bottom: $popover-arrow-size;
    z-index: 10;
}

.tabHeader {
    display: flex;
}

.tab {
    background: $tabs-background; 
    text-indent: 10px; 
    font-size: 16px;
    padding: 2px;
    &:hover {
        background: $tabs-background-content;
    }
}

.tabContent {
      
    :global(.scroll-content) {
        height: calc(100% - #{$tabs-header-height}); 
        background: $tabs-background-content;
        
        &::after, &::before {
          background: transparent;
        }
    } 
}

.tabActive {
    background: $tabs-background-content;
    text-indent: 10px;
    padding: 2px;
    font-size: 16px;
}

.navTabs {
    display: flex;

    ul {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.addTabButton {
    font-size: 13px;
    padding: 9px 6px 3px 6px;
    border-top-right-radius: 4px;
}

.closeTabButton {
    border-radius: 4px;
    padding: 3px 4px 3px 4px;
}

.tabButton {
    border-radius: 4px;
    padding: 3px 5px 3px 5px;
}

.tabButtonActive {
    background-color: $tabs-background; 
    border-radius: 4px;
    padding: 3px 5px 3px 5px;
}

.topHandle {
    height: 1px;
    &:hover, &:active{
      background: $tabs-background;
    }
  }
  


