@import "../../../styles/all";


$tabs-height: 48px;
$tabs-active-height: 45px;
$tabs-background: rgba(37,37,37,1);
$tabs-background-content: rgba(55,55,55,1);
$tabs-margin-horizontal: 8px;
$tabs-close-button-width: 14px;
$tabs-buttons-margin: 32px;
$tabs-arrowbutton-width: 13.34px;

.tabContainer {
    background: $tabs-background;   
    position: absolute;
    width: calc(100% - #{$tabs-margin-horizontal});
    margin-left: $tabs-margin-horizontal / 2;
    bottom: $popover-arrow-size;
}

.tab {
    height: $tabs-height;
    background: $tabs-background; 
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
    border-top: 3px solid $tabs-background;
    border-top-right-radius: 4px;
    display: block;
    &:hover {
        background: $tabs-background-content;
        border-top: 3px solid $tabs-background-content;
    }
}
.tabActive {
    height: $tabs-active-height;
    background: $tabs-background-content;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
    display: block;
}
.tabHeader {
    display: grid;
    position: relative;
}

.tabTitle {  
    max-width: calc(100% - #{$tabs-close-button-width});
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabButtonContainer {
    display: flex;
    margin-right: $tabs-buttons-margin;
}

.tabContent {
      
    :global(.scroll-content) {
        height: calc(100% - #{$tabs-active-height}); 
        background: $tabs-background-content;
        
        &::after, &::before {
          background: transparent;
        }
    } 
}


.navTabs {
    display: flex;
}

.topHandle {
    height: 1px;
    &:hover, &:active{
      background: $tabs-background;
    }
}

//buttons
.addTabButton {
    font-size: 13px;
    padding: 9px 6px 3px 6px;
    border-top-right-radius: 4px;
}
.closeTabButton {
    border-radius: 4px;
    padding: 3px 4px 3px 4px;
    position: absolute;
    right: -2px;

}
.tabButton {
    border-radius: 4px;
    padding: 3px 5px 3px 5px;
}
.tabButtonActive {
    background-color: $tabs-background; 
    border-radius: 4px;
    padding: 3px 5px 3px 5px;
}
.arrowButton {
    display: inline-flex;
    position: relative;
    top: 38px;
    padding: 10px 0 10px 0;
    &Empty {
        display: inline-flex;
        width: $tabs-arrowbutton-width;
        padding: 10px 0 10px 0;
        position: relative;
        top: 38px;
    }
}


  


