@import "../../../styles/all";


$tabs-header-height: 48px;
$tabs-background: rgba(37,37,37,1);
$tabs-background-content: rgba(55,55,55,1);
$tabs-margin-horizontal: 8px;
$tabs-title-width: 78px;

.tabContainer {
    background: $tabs-background;   
    position: absolute;
    width: calc(100% - #{$tabs-margin-horizontal});
    margin-left: $tabs-margin-horizontal / 2;
    bottom: $popover-arrow-size;
}

.tab {
    height: 48px;
    background: $tabs-background; 
    border-top: 3px solid $tabs-background;
    border-top-right-radius: 4px;
    font-size: 16px;
    padding-left: 4px;
    padding-right: 4px;
    &:hover {
        background: $tabs-background-content;
        border-top: 3px solid $tabs-background-content;
    }
}
.tabActive {
    padding-left: 4px;
    padding-right: 4px;
    height: 45px;
    background: $tabs-background-content;
    font-size: 16px;
}
.tabHeader {
    display: grid;

}
.tabButtons {
    display: flex;
}

.tabTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabContent {
      
    :global(.scroll-content) {
        height: calc(100% - #{$tabs-header-height}); 
        background: $tabs-background-content;
        
        &::after, &::before {
          background: transparent;
        }
    } 
}


.navTabs {
    display: flex;
}

.addTabButton {
    font-size: 13px;
    padding: 9px 6px 3px 6px;
    border-top-right-radius: 4px;
}

.closeTabButton {
    border-radius: 4px;
    padding: 3px 4px 3px 4px;

}

.tabButton {
    border-radius: 4px;
    padding: 3px 5px 3px 5px;
}

.tabButtonActive {
    background-color: $tabs-background; 
    border-radius: 4px;
    padding: 3px 5px 3px 5px;
}

.topHandle {
    height: 1px;
    &:hover, &:active{
      background: $tabs-background;
    }
  }
  


