@import "../../../styles/all";

.UtilitiesButton {
  padding: $button-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;


  &:hover {
    background: $ui-background-hover;
    outline: 0;
  }

  &.active {
    background: rgba(black, 0.5);
    border-bottom: 3px solid $ui-highlight-secondary;
  }
}

.UtilitiesButton:active {
  background: rgba(black, 0.5);
  border-bottom: 3px solid $ui-highlight-secondary;
}
.UtilitiesButton:active {
  background: rgba(black, 0.5);
  border-bottom: 3px solid $ui-highlight-secondary;
}

$icon-size: 25px;

.Icon {
  font-size: $icon-size;
}



.TextCTRL {
  font-size: 16;
  display: table-cell;
  align-items: center;
  border-style: solid;
  border-color: lightgray;
  border-radius: 6px;
  padding:  0px 30px 0px 0px;;
}

.Instructions {
  position: absolute;
  align-items: center;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index:9999;
  height: 80%;
}

.Background{
  position: absolute;
  top: 0;
  z-index:9999;
  height: 100%;
  width: 200%;
  color: lightgray;
  background-color: rgba(black, 0.5);

}

.Row {
    display: table;
    table-layout: fixed; /*Optional*/
    border-spacing: 14px; /*Optional*/
}
