@import '../../../styles/all';
@import './SkyBrowserTabs';

.buttonContainer {
  padding: 50;
  justify-content: flex-start;
}

.displayCopyButton {
  flex-grow: 1;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  background: $tabs-buttons;
  color: $text-color-focus;
  &:hover,
  &:active {
    background: $ui-background-active;
  }
}

.colorPicker button {
  height: 100%;
}
