@import '../../../styles/all';

$list-header: rgba(255, 255, 255, 0.12);
$list-header-hover: rgba(255, 255, 255, 0.2);
$menu-height: 40px;

.filterlist {
  background: $ui-background-solid;
}

.filterList input {
  background-color: $list-header;
  border-bottom: 2px solid $ui-background-solid;
  &:hover {
    background-color: $list-header-hover;
  }
}

.picker {
  align-items: center;
  display: flex;
  width: inherit;
  padding: 10px 14px;
}

.selected {
  background: $ui-background-hover; // window and popup
}

.unselected {
  background: $ui-background;
  &:hover {
    background: $list-header-hover;
  }
}
