$color: #6fbf39;

.checkmark {
  height: 100%;
  border-radius: 50%;
  stroke-width: 5;
  stroke: white;
  stroke-miterlimit: 10;
  color: $color;
  box-shadow: inset 0px 0px 0px currentColor;
  animation: fill 0s ease-in-out 0s forwards, scale 0s ease-in-out 0s both;
}

.checkmarkAnimated {
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmarkCircle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 5px;
  stroke-miterlimit: 10;
  stroke: currentColor;
  fill: none;
  animation: stroke 0s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmarkCircleAnimated {
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmarkCheck {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0s cubic-bezier(0.65, 0, 0.45, 1) 0s forwards;
}

.checkmarkCheckAnimated {
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 1000px currentColor;
  }
}
