@import '../../../../../styles/all';

.button {
  background: #30303a70;
  margin-top: 1rem;

  padding: 1rem;
  width: 100%;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: $font-family;
  text-align: center;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.1em;
  padding: 0rem 0.4rem;
  text-transform: uppercase;
  margin-top: 20px;
}
