@import "../../../styles/all";

.leftButtonContainer {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
  cursor: default; /* visually distinguish from dragging (OBS! Kind of ugly.
                      And does not actually prevent dragging from happening)*/
}

.rightButtonContainer {
  // position: absolute;
  // right: 0;
  // top: 0;
  // bottom: 0;
  position: relative;
  display: flex;
  // overflow: hidden;
  margin-left: auto; // Right align flex item
  cursor: default; /* visually distinguish from dragging (OBS! Kind of ugly.
                      And does not actually prevent dragging from happening)*/
}

.rightButton {
  padding-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  cursor: default;
}

.heightLayerIcon {
  opacity: 0.35;
  vertical-align: middle;
  padding-left: 8px;
}

.layerDraggableIcon {
  visibility: hidden;
  opacity: 0.35;
  vertical-align: middle;
  padding-left: 8px;
}

/* Show icon on hover */
.layerHeader:hover .layerDraggableIcon,
.layerHeader:active .layerDraggableIcon {
  visibility: visible;
}

.enabledLayerTitle {
  color: #42f483;
}

.disabledLayerTitle {
  color: #ddd;
}
