@import "../../../styles/all";

.leftButtonContainer {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.globeButton {
  right: 25px;
  position: absolute;
}

.rightButtonContainer {
  float: right;
}


.rightButton {
  &:hover {
    background-color: $ui-background-hover;
  }

  height: 100%;
  margin-top: 2px;
  margin-right: 10px;
  top: 0px;
}
