@import "../../../styles/all";

.matrixProperty,
.vectorProperty {
  margin-bottom: 3px;

  &:hover label {
    color: $green;
  }

  label {
    z-index: 2;
  }

  button {
    height: 100%;
  }
}

.disabled > span:not(.icon) {
  pointer-events: none;
}

.disabled {
  color: darken($text-color-focus, 30%) !important;
}
