@import "../../../styles/all";

.leftButtonContainer {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.rightButtonContainer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  overflow: hidden;
}

.rightButton {
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.layerDraggableIcon {
  visibility: hidden;
  opacity: 0.35;
  vertical-align: middle;
  padding-left: 8px;
}

/* SHow icon on hover */
.layerHeader:hover .layerDraggableIcon,
.layerHeader:active .layerDraggableIcon {
  visibility: visible;
}

.enabledLayerTitle {
  color: #42f483;
}

.disabledLayerTitle {
  color: #ddd;
}
