@import "../../../styles/all";

.colorSwatch {
  width: 1.7em;
  height: 1.7em;
  border-radius: 3px;
  border-color: rgba(white, 0.3);
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  position: relative;
}

.colorOverlay, .checkboard {
  position: absolute;
  width: 100%;
  height: 100%;
}

.colorOverlay {
  z-index: 2;
}
