@import "../../styles/all";

@import "../common/Popover/Popover.scss";

.Grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  &:before,
    &:after {
      display: none;
    }
}

.scroller {
  overflow: scroll;
  height: 92%;
  overflow-x: hidden;
}

.buttonIcon {
  font-size: 1em;
}

.bottomBarIcon {
  font-size: 2em;
}

.backButton {
  width: fit-content;
  padding-left: 10px !important;
  padding-bottom: 4px !important;
  padding-right: 12px !important;
  font-size: 1em;
}

.actionButton {
  width: 120px;
  margin-bottom: 5px;
  margin: 2px;
  max-height: 50%;
  overflow-wrap: break-word;
}

.windowContainer {
 .actionButton {
    min-width: 310px;
    min-height: 100px;
  }

  .navPathTitle {
    font-size: 1em;
  }

  font-size: 3.4em;
  overflow: scroll;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.folderButton {
  background-color: $ui-background-slider-input;
}

.navPathTitle {
  @extend .title;
  display: inline-block;
  word-break: break-word;
}

.actionsPanel {
  min-width: 394px;
  max-width: 394px;
  height: 400px;
  max-height: 400px;
  min-height: 400px;
}