@import "../../styles/all";

.BottomBar {
  display: flex;
  height: $bottom-bar-height;
  transition: $background-transition;

  &:hover {
    background: $ui-background;
  }
}

.pickerDisabledByPlayback {
  background-color: darken(rgba($blue, .7), 20%);
}

.pickerDisabledByPause {
  background-color: rgba($orange, .7);
}
