@import "../../styles/all";
@import "../../styles/all";

.Grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  &:before,
    &:after {
      display: none;
    }
}

.scroller {
  overflow: scroll;
  height: 92%;
  overflow-x: hidden;
}

.buttonIcon {
    font-size: 2em;
}

.bottomBarIcon {
    font-size: 2em;
}

.backButton {
  margin-bottom: 10px;
}

.actionButton {
  width: 120px;
  margin-bottom: 5px;
  margin: 2px;
}

.windowContainer {
 .actionButton {
    min-width: 310px;
    min-height: 100px;
  }
  font-size: 3.4em;
  overflow: scroll;
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
}

.folderButton {
  background-color: $ui-background-slider-input;
}

.actionsPanel {
  min-width: 394px;
  max-width: 394px;
  height: 400px;
  max-height: 400px;
  min-height: 400px;
}
