@import "../../styles/all";
@import "../../styles/all";

.climatepanel{
  width: 600em;
}

.Grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  &:before,
    &:after {
      display: none;
    }
}

.buttonIconGlacier {
    font-size: 0em;
}
.buttonIcon {
    font-size: 2em;
}



.bottomBarIcon {
    font-size: 2em;
}

/*:root {
  --blue: #1e90ff;
  --white: #ffffff;
}*/

.menuButton {
  width: 130px;
  margin-bottom: 5px;
  margin: 2px;
  z-index: 1;
  background-color: #1f1f1f;
}
.actionButton {
  width: 130px; // 105 is good
  //margin-bottom: 5px;
  margin: 2px;
  background-color: #2b2b2b;
  //position: absolute;
  hover: black;
  position: absolute;
  opacity: 0;
}
.actionButtonGlacier {
  width: 0px;
  margin-bottom: 5px;
  margin: 2px;
  position: absolute;
  //opacity: 0;
  background-color: #1f1f1f;
  //background-color: var(--blue);
  color: blue;
//  font-size: 0px;
}
#actionButtonGlacierID {
  width: 0px;
  margin-bottom: 5px;
  margin: 2px;
  position: absolute;
  hover: black;
  //opacity: 0;
  //background-color: var(--blue);
  color: pink;
  z-index: -1;
}
.actionButton2 {
  width: 197px;
  margin-bottom: 5px;
  margin: 2px;
  background-color: #2b2b2b;
  position: absolute;
  opacity: 0;
}
/*
.windowContainer {
 .actionButton {
    min-width: 310px;
    min-height: 100px;
  }
  font-size: 3.4em;
  overflow: scroll;
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
}

.folderButton {
  background-color: $ui-background-slider-input;
}

.actionsPanel {
  min-width: 394px;
  max-width: 394px;
  height: 400px;
  max-height: 400px;
  min-height: 400px;
}
*/
