@import "../../styles/all";

.cameraIcon {
  font-size: 2em;
}

.playingPicker {
  background-color: $blue;
	 &:hover {
    background-color: $blue;
  }
}

.pausedPicker {
  background-color: $orange;
   &:hover {
    background-color: $orange;
  }
}

.playbackButton {
	margin-right: 1em;
}

.recordingPicker {
  background-color: $red;
  &:hover {
    background-color: $red;
  }
}

.fpsInput {
  min-width: 50%;
  margin-bottom: 10px;
}

.fpsCheckbox {
  min-width: 50%;
  margin-bottom: 10px;
  line-height: 2em;
}
