@import "../../styles/all";

.cameraIcon {
  font-size: 2em;
}

.playbackButton {
  margin-right: 1em;
}

.fpsInput {
  min-width: 40%;
}

.fpsCheckbox {
  min-width: 50%;
  line-height: 2em;
}

.lastRow {
  margin-bottom: 10px;
}

.infoBox {
  align-self: center;
  padding-right: 5px;
}
