@import '../../styles/all';
@import '../common/Popover/Popover';
$title-bar-height: 30px;

.content {
  position: absolute;
  top: $title-bar-height;
  bottom: 0px;
  width: 100%;
  background: white;
}
