@import "../../styles/all";

.photoIcon {
  font-size: 2em;
}

input[type="file"] {
    display: none;
}

.slideList {
    float: left;
    height: 100%;
    width: 100%;

    :global(.scroll-content) {
        padding-bottom: 14px;
        min-width: 300px; 
    }
}

.slideList header {
    justify-content: left;
}

.list :global(.scroll-content) {
  max-height: 80vh;
  min-width: 300px;

}



