@import "../../styles/all";

.photoIcon {
  font-size: 2em;
}

input[type="file"] {
    display: none;
}

.slideList {
    float: left;
    height: 100%;
    width: 100%;

    :global(.scroll-content) {
        padding-bottom: 14px;
        min-width: 300px; 
    }
}

.slideList header {
    justify-content: left;
}

.row {
  display:flex;
  flex-wrap: nowrap; 
  width: 100%;
}

.picker {
  align-items: center;
  display: flex;
  height: 100%;
  width: inherit;
  padding: 10px 14px;

}

.selected {
  background: $ui-background-hover;
}
.unselected {
  background: $ui-background;
}


// background: $ui-background-hover;




/*
.list :global(.scroll-content) {
  max-height: 80vh;
  min-width: 300px;
}
*/