@import "../../styles/all";

.graph {
	position: fixed;
	left: 50%;
	bottom: 60px;
	width: 100%;
	min-width: 800px;
	max-width: 1440px;
	height: 150px;
	padding-top: 60px;
	transform: translateX(-50%);
	overflow: hidden;
	
	svg {
		width: 100%;
		overflow: visible;
		top: 0;
		
		text {
			text-transform: uppercase;
		}
	}
}