@import '../../../../styles/all';

.filterList {
  height: 100%;

  :global(.scroll-content) {
    height: unquote('calc(100% - #{$input-total-height})');
  }
}

.searchBar {
  // margin: 1em;
  background-color: #30303a70;
  font-size: 16px;
  padding: 8px;
  margin-top: 24px;
  margin-bottom: 16px;
  border-radius: 3px;
}

.favoritesButton {
  // background-color: $text-color-blur;
  // background-color: #30303a70;
  color: white;
  cursor: pointer;
  font-size: 2em;

  border-radius: 3px;
  display: flex;
  align-items: center;
  pointer-events: initial;
}
