@import '../../../../styles/all';

.filterList {
  height: 100%;

  :global(.scroll-content) {
    height: unquote('calc(100% - #{$input-total-height})');
  }
}

.searchBar {
  margin: 1em;
  background-color: #30303a40;

  font-size: 16px;
  padding: 8px 16px;
}

.favoritesButton {
  // background-color: $text-color-blur;
  background-color: #30303a40;
  color: white;
  cursor: pointer;
  font-size: 2em;

  padding: 3px 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  pointer-events: initial;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
