@import "../../../styles/all";

.TabMenuItem {
  align-items: center;
  position: relative;
  display: flex;
  flex-basis: 1px;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: center;

  &.active {
    background: $ui-background-active;
    border-bottom: 3px solid $ui-highlight-secondary;
  }
  &:hover {
    background: $ui-background-hover;
  }
  &:focus {
    outline: 0;
  }
}
