.timelineWrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.timelineContainer {
  cursor: grab;
  width: 100%;
  position: relative;
}

.timeline {
  position: absolute;
  white-space: nowrap;
}

.timePoint {
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
}
